
h1{
   
  font-size: 60pt;
  color: #eee;
  text-align:　right;
  margin: 0px;
 }
body{
  font-size: 14pt;
  color: #999;
  margin: 0px;

}
p{
  font-size: 14pt;
  margin: 0pt 20pt;
}
